[Unit]
Description=Planon

[Service]
WorkingDirectory=/path/to/planon/directory
ExecStart=/path/to/planon/binary

[Install]
WantedBy=multi-user.target
